.nav-wrapper {
  background-color: #039be5 !important;
  font-size: 14px;
}

.brand-logo {
  margin-left: 10px;
}

a {
  color: #ffffff;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}